[submodule "Submodules/XRTK-Core"]
	path = Submodules/XRTK-Core
	url = https://github.com/XRTK/XRTK-Core.git
[submodule "Submodules/WindowsMixedReality"]
	path = Submodules/WindowsMixedReality
	url = https://github.com/XRTK/WindowsMixedReality.git
